@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Charis+SIL&family=Courgette&family=Courier+Prime&family=Exo+2:wght@200&family=Gloria+Hallelujah&family=Lato&family=Pacifico&display=swap');

* {
    font-family: 'EB Garamond', serif;
}

html {
    width: 100%;
    max-height: 100%;
}

body {
    height: 100%;
    width: 100%;
}

/* NAVBAR */
header {
    overflow: hidden;
    height: 4rem;
    position: fixed;
    top: 0;
    box-shadow: 5px 5px 5px #d4bcb0;
    background-color: #9A7269;
    width: 100%;
    margin: 0 auto;
    z-index: 1;
}

.navBox {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 30px;
    height: 4rem;
}

.navbarLink,
.navbarLink:visited {
    color: whitesmoke;
    text-shadow: 2px 3px 6px rgb(177, 174, 174);
    text-decoration: none;
    margin-right: 4rem;
    margin-top: .75rem;
}

.navbarLogo {
    margin-right: 10rem;
}

.navbarLink:hover {
    transform: scale(1.5);
    cursor: pointer;
    text-decoration: none;
    color: #312321;
}

.navbarName {
    font-size: 45px;
    color: whitesmoke;
    text-shadow: 3px 3px 10px white;
    text-decoration: none;
    margin-right: 20rem;
    margin-top: .4rem;
    margin-left: 1rem;
}

/* LOGIN */
.loginAll {
    min-height: 175vh;
    background-image: url('/images/loginbackground.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0rem -30rem;
    overflow: hidden;
}

.loginForm {
    background-color: rgba(14, 6, 6, 0.741);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-top: 15rem;
    padding-top: 3rem;
    padding-bottom: 3rem;
    box-shadow: 0px 0px 40px 16px rgba(0, 0, 0, 0.22);
    border-radius: 5%;
    color: #F1F1F2;
    position: relative;
    width: 400px;
    height: 200px;
    opacity: 1;
}

.loginDiv {
    padding-bottom: 2rem;
    text-align: center;
    margin: auto;
}

.loginLabel {
    color: white;
    text-shadow: 3px 3px 10px white;
    font-size: 20px;
    padding-bottom: 1rem;
    margin-right: 1rem;
}

.userorpass {
    color: white;
    font-size: 20px;
    height: 2rem;
    border: none;
    background: none;
    width: 200px;
    border-bottom: 2px solid #707075;
}

.submitLogin {
    background: none;
    color: white;
    text-shadow: 3px 3px 10px white;
    transition: color 300ms;
    height: 50px;
    width: 300px;
    font-size: 20px;
    border-radius: 50px;
    border: 2px solid grey;
}

.submitLogin:focus {
    color: #f2f2f2;
}

.submitLogin:active {
    color: #d0d0d2;
}

.submitLogin:hover {
    cursor: pointer;
    background-color: darkgray;
}

.loggingInForm {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* REGISTER */

.allRegister {
    min-height: 175vh;
    max-height: 175vh;
    display: flex;
    flex-direction: row;
    background-image: url('/images/registerbackground.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0rem -40rem;
    overflow: hidden;
}

.registerForm {
    background-color: rgba(14, 6, 6, 0.744);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-left: 30rem;
    margin-top: 7rem;
    padding-top: 3rem;
    padding-bottom: 3rem;
    box-shadow: 0px 0px 40px 16px rgba(0, 0, 0, 0.22);
    border-radius: 5%;
    color: #F1F1F2;
    position: relative;
    width: 400px;
    height: 450px;
}

.registerLogo {
    height: 300px;
    width: 400px;
}

.registerDiv {
    padding-bottom: 2rem;
    text-align: center;
    margin: auto;
}

.registerLabel {
    color: white;
    text-shadow: 3px 3px 10px white;
    font-size: 20px;
    padding-bottom: 1rem;
    margin-right: 1rem;
}

.userorpass {
    color: white;
    font-size: 20px;
    height: 2rem;
    border: none;
    background: none;
    width: 200px;
    border-bottom: 2px solid #707075;
}

.submitRegister {
    background-image: url('/images/Register.jpg');
    background-repeat: no-repeat;
    background-size: 90%;
    background-position: 1rem -2.5rem;
    color: white;
    text-shadow: 3px 3px 10px white;
    transition: color 300ms;
    height: 50px;
    width: 300px;
    font-size: 20px;
    border-radius: 50px;
    border: 2px solid grey;
}

.submitRegister:focus {
    color: #f2f2f2;
}

.submitRegister:active {
    color: #d0d0d2;
}

.submitRegister:hover {
    cursor: pointer;
}

.registrationForm {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* PRODUCTS */
.allProducts {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
}

.allProductsHere {
    margin-top: 5rem;
    position: relative;
    min-height: 100vh;
}

.allProductsHere::before {
    content: '';
    background-image: url('/images/All_Books_Search_plain.jpeg');
    background-size: cover;
    position: fixed;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: .8;
}

.productBox {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 300px;
    max-height: 550px;
    padding: 10px;
    margin-right: 4rem;
}

.productContents {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 275px;
    max-height: 525px;
    overflow: auto;
}

.productContents:hover {
    cursor: pointer;
    box-shadow: 0px 0px 10px 5px rgb(58, 58, 58);
}

.productTitle {
    font-size: 20px;
    margin-bottom: 0;
    margin-top: 0;
    padding-left: 1rem;
    padding-right: 1rem;
}

.productAuthor {
    margin-bottom: 0;
    margin-top: 0;
}

.productPrice {
    font-size: 30px;
    margin-top: 0;
}

.searchForm {
    height: 110px;
    position: relative;
}

.searchHeader {
    font-size: 40px;
    color: aliceblue;
    text-shadow: -2px 4px 8px black;
    margin-bottom: 8px;
    -webkit-text-stroke: 1.3px black;
}

.productImage {
    width: 250px;
    height: 350px;
}

.containerSearchProducts {
    height: 11rem;
    margin-bottom: 1rem;
    align-items: center;
}

.allEditProduct {
    display: flex;
    justify-content: center;
}

.edit-form {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 2rem;
    margin-top: 5rem;
    justify-content: center;
    border: 3px solid black;
    width: 1250px;
    border-radius: 50px;
}

.edit-form>* {
    margin: 5px;
}

.editBox1 {
    height: 800px;
    width: 400px;
    margin-right: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 23px;
}

.editBox2 {
    height: 800px;
    width: 400px;
    margin-left: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 23px;
}

.editP {
    margin-bottom: 0.5rem;
}

.long-input {
    height: 75px;
    width: 400px;
}

.editSubmit {
    margin-top: 5rem;
    margin-left: 30rem;
    height: 4rem;
    width: 10rem;
    font-size: 25px;
}

.editSubmit:hover {
    cursor: pointer;
}

input:placeholder-shown {
    text-overflow: ellipsis;
}

.price>* {
    display: inline;
    padding: 5px;
}

.genre-buttons-div {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 3rem;
}

/* SINGLE VIEW */
.single-view-div {
    margin-top: 8rem;
    margin-left: 12rem;
    display: flex;
    flex-direction: row;
}

#productImageSV {
    width: 450px;
    height: 500px;
    display: flex;
}

#productInfo {
    margin-left: 10rem;
    max-width: 800px;
    display: flex;
    flex-direction: column;
}

#productTitle {
    font-size: 4.5rem;
    margin-top: 0;
    margin-bottom: 0.5rem;
}

.seperatingLine {
    border: 1px solid black;
    width: 100%;
    height: 0px;
}

#productPrice {
    font-style: bold;
    font-size: 4rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.productAuthor {
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 22px;
}

#productButtonsDiv {
    margin-top: 1rem;
    display: flex;
    justify-content: space-evenly;
    margin-left: 5rem;
    margin-bottom: 5rem;
}

.productButtons {
    height: 5rem;
    width: 10rem;
    border-radius: 50px;
    border: none;
    margin-left: 4rem;
    background-color: #d4bcb0;
    font-size: 23.4px;
}

.productButtons:hover {
    cursor: pointer;
    box-shadow: 0px 0px 15px 1px #a1837cbd;
}

.adminButtons {
    height: 5rem;
    width: 10rem;
    border-radius: 10px;
    border: none;
    margin-left: 4rem;
    box-shadow: 0px 0px 5px 3px #674e49bd;
    background-color: #c0a699;
    font-size: 23.4px;
}

.adminButtons:hover {
    cursor: pointer;
    height: 5rem;
    width: 10rem;
    border-radius: 10px;
    border: none;
    box-shadow: inset 0px 0px 8px 3px #674e49bd;
    background-color: #a48f84;
    font-size: 23.4px;
}

#add-to-cart:hover {
    color: rgb(247, 246, 246);
    box-shadow: none;
}

.pulse {
    animation: 1s pulse;
}

.add-to-cart-whoops>* {
    font-size: 23px;
    color: rgb(252, 129, 47);
}

.productLink {
    text-decoration: none;
    color: black;
}

#deleteProductButton:hover {
    box-shadow: inset 0px 0px 10px 8px #b50101bd;
}

.img-slideshow {
    width: 450px;
    text-align: center;
    overflow: hidden;
}
.imgs::-webkit-scrollbar {
    height: 12px;
}
.imgs::-webkit-scrollbar-track {
    background-color: #31232100;
}

.img-slideshow>a {
    display: inline-flex;
    width: 1.5rem;
    height: 1.5rem;
    background: rgb(171, 133, 104);
    color: white;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin-top: 1rem;
    margin-left: 1rem;
    position: relative;
}

.imgs {
    display: flex;
    margin-top: 15px;
    
    overflow-x: auto;
    overflow-y: hidden;
    scroll-snap-type: x mandatory;

    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
}

.imgs>div {
    scroll-snap-align: start;
    flex-shrink: 0;
    width: 450px;
    height: 500px;
    margin-right: 50px;
    border-radius: 10px;
    background: #eee;
    transform-origin: center center;
    transform: scale(1);
    transition: transform 0.5s;
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 100px;
}

.slideImage {
    width: 435px;
    height: 485px;
}

/* HOME */
.container {
    height: 1920px;
}

.routeDiv {
    height: 1920px;
}

.homeBoxes {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 1000px;
    background-image: url('/src/transparentBackground.png');
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
}

.homeContainer {
    height: 100vh;
    background-image: url('../images/451_Books.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
}

.homeBox {
    background-color: rgba(81, 42, 27, 0.703);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    margin-top: 48rem;
    padding-top: 3rem;
    padding-bottom: 3rem;
    border: none;
    border-radius: 50px;
    color: #F1F1F2;
    position: relative;
    width: 15rem;
    height: 8rem;
    font-size: 32px;
}

.homeBox:hover {
    cursor: pointer;
    box-shadow: 0px 0px 20px 1px #d4bcb0;
}

/* ALL USERS */
.allUsersContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 7rem;
}

.allUserBox {
    display: flex;
    justify-content: center;
    width: 25rem;
    height: 20rem;
    align-items: center;
}

.allUserBoxContent {
    display: flex;
    flex-direction: column;
    background-color: aliceblue;
    border: 2px solid black;
    border-radius: 50px;
    height: 15rem;
    width: 20rem;
    align-items: center;
}

.searchUsersForm {
    display: flex;
    flex-direction: column;
    background-color: aliceblue;
    border: 2px solid black;
    border-radius: 50px;
    height: 15rem;
    width: 20rem;
    align-items: center;
}

.returnedFormContent {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.userSearchInput {
    margin-bottom: 2rem;
    color: black;
    font-size: 22px;
    text-align: center;
    box-shadow: 0px 5px 10px black;
}

#outlined-basic {
    width: 20%;
    border: 3px solid #d4bcb0;
    padding: 5px;
    height: 40px;
    background-color: rgba(255, 255, 255, 0.91);
    border-radius: 10px 10px 10px 10px;
    color: black;
    outline: none;
}

/* CART */
.cart-main-div {
    display: flex;
    flex-direction: row;
    position: fixed;
    text-align: center;
    top: 4em;
    left: 4rem;
    margin-top: 2%;
    min-height: 50%;
    max-width: 66%;
    padding: 1% 0% 7% 0%;
    backdrop-filter: blur(0.4rem);
    overflow-x: scroll;
    background: none;
    border-radius: 1rem;
    box-shadow: 0px 0px 2px #daa871, 0px 0px 5px #ffe9d1, 3px 3px 8px #b1b1b1,
        -3px -3px 8px #fff;

}

.cart-total {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    position: fixed;
    top: 15rem;
    right: 1.5%;
    max-width: 25%;
    max-height: 30%;
    background: none;
    backdrop-filter: blur(0.4rem);
    text-align: center;
    margin-right: 2%;
    padding: 1rem 1rem;
    border-radius: 1rem;
    box-shadow: 0px 0px 1px #daa871,
        0px 0px 3px #ffe9d1,
        1px 1px 2px #b1b1b1,
        -3px -3px 8px #fff;
}

.button-group-cartItems:hover {
    border-radius: 1rem;
    cursor: pointer;
    box-shadow: 0px 0px 20px 1px #d4bcb0;
}

.cart-text-div {
    font-size: 15rem;
    position: fixed;
    right: 2%;
    margin-top: 20rem;
    padding-right: 1rem;
    color: white;

}

.cartProductImage {
    width: 100%;
    height: 250px;
}


.individualCartContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    height: 50%;
    width: 12rem;
    padding: 1rem;
}

#cart-warning-h1 {
    color: black;
    font-size: 5rem;
    margin-top:2rem;
    position: absolute;
    top: 45px;
    left: 30px;
    width: 45%;
    cursor: default;
}

#cart-login-link {
    color: rgb(27, 81, 27);
    font-size: 1.7rem;
    /* text-decoration: none; */
    font-weight: bold;
    position: absolute;
    top: 300px;
    left: 150px;
    transition: color .4s ease-in-out, box-shadow .4s ease-in-out;
}

#cart-login-link:hover {
    box-shadow: inset 320px 0 0 0 rgb(27, 81, 27);
    text-decoration: none;
    color: white;
}

.hidden {
    display: none;
}

.errorMessage {
    font-size: 20px;
    color: rgb(249, 114, 114);
    text-shadow: 5px 5px 10px black;
    text-align: center;
}

.errorMessage2 {
    font-size: 20px;
    color: white;
    text-align: center;
}

#sign-in-msg {
    color: rgb(218, 189, 173);
}

.error {
    animation: 0.5s shake;
    background-color: rgba(14, 6, 6, 0.741);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-top: 15rem;
    padding-top: 3rem;
    padding-bottom: 3rem;
    box-shadow: 0px 0px 40px 16px rgba(0, 0, 0, 0.22);
    border-radius: 5%;
    color: #F1F1F2;
    position: relative;
    width: 400px;
    min-height: 200px;
    opacity: 1;
}

.error-reg {
    animation: 0.5s shake;
    background-color: rgba(14, 6, 6, 0.744);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-left: 30rem;
    margin-top: 7rem;
    padding-top: 3rem;
    padding-bottom: 3rem;
    box-shadow: 0px 0px 40px 16px rgba(0, 0, 0, 0.22);
    border-radius: 5%;
    color: #F1F1F2;
    position: relative;
    width: 400px;
    height: 450px;
}

.editProductImage {
    width: 350px;
    height: 400px;
}

/* ADDPRODUCT */
.formContainerAddProduct {
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.addingProductMainContainer {
    display: flex;
    justify-content: center;
    background-color: white;
    height: 1080px;

}

.addProductForm {
    height: 500px;
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 23px;
    background-color: white;
    border: 2px solid black;
    border-radius: 50px;
    margin-bottom: 10rem;
}

.addInput {
    margin-top: 1rem;
    width: 200px;
    height: 35px;
}

.addProductButton {
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: 215px;
}

.addProductButton:hover {
    cursor: pointer;
}

/* CHECKOUT */
checkout.input[type=text] {
    width: 20%;
    margin-bottom: 20px;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
    display: block;
    background-color: lightblue;
}

.containerPayment {
    width: 658px;
    height: 550px;
    margin-top: 2%;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 45px;
    padding-left: 15px;
    border-radius: 50px;
    float: left;
    color: white;
    text-shadow: 3px 3px 10px gray;
    background-color: #9A7269;
    display: flex;
    flex-direction: row;
}

.totals-checkout {
    display: flex;
    flex-direction: column;
    width: 135px;
    margin-right: 1rem;
    margin-top: 2rem;
    margin-bottom: 3rem;
    padding-right: 2rem;
    padding-left: 2rem;
    padding-top: 1rem;
    border: 2px solid rgb(91, 64, 43);
    border-radius: 5vh;
    min-height: 418px;
}

.containerCheckouts {
    display: flex;
    flex-direction: column;
    margin-top: 4rem;
}

.containerCheckout {
    width: 250px;
    margin-left: 1.5rem;
}

h4 {
    margin-top: 5px;
    width: 350px;
    font-size: 1.3rem;
    text-align: center;
    color: white;
    text-shadow: 3px 3px 10px gray;
    background-color: #9A7269;
}

.checkout-cart-items {
    max-height: 750px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 2%;
    max-width: 1000px;
}

.checkoutContainer {
    display: flex;
    margin-top: 5rem;
    justify-content: center;
}

.orderbutton {
    background-color: blanchedalmond;
    border: none;
    border-radius: 50px;
    color: #9A7269;
    text-shadow: 3px 3px 10px gray;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    margin-bottom: 520px;
    margin-left: 46%;
    display: right;
    font-size: larger;
}

.submitOrderCheckout {
    margin-top: 3rem;
    border-radius: 50px;
    height: 2.5rem;
}

.submitOrderCheckout:hover {
    cursor: pointer;
    box-shadow: 0px 0px 10px 1px black;
}

.orderAll {
    height: 1080px;
    width: 1920px;
    background-color: blanchedalmond;
    background-image: url('../images/checkout.gif');
    background-position: 43rem 15rem;
    background-repeat: no-repeat;
}

.orderContainer {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
}

.orderInfo {
    margin-bottom: 0;
    font-size: 50px;
    text-align: center;
    color: #9A7269;
    text-shadow: 3px 3px 10px gray;
    background-color: rgb(232, 210, 177);
}

/* ANIMATIONS */
@keyframes shake {
    0% {
        transform: translate(1px, 1px) rotate(0deg);
    }

    10% {
        transform: translate(-1px, -2px) rotate(-1deg);
    }

    20% {
        transform: translate(-3px, 0px) rotate(1deg);
    }

    30% {
        transform: translate(3px, 2px) rotate(0deg);
    }

    40% {
        transform: translate(1px, -1px) rotate(1deg);
    }

    50% {
        transform: translate(-1px, 2px) rotate(-1deg);
    }

    60% {
        transform: translate(-3px, 1px) rotate(0deg);
    }

    70% {
        transform: translate(3px, 1px) rotate(-1deg);
    }

    80% {
        transform: translate(-1px, -1px) rotate(1deg);
    }

    90% {
        transform: translate(1px, 2px) rotate(0deg);
    }

    100% {
        transform: translate(1px, -2px) rotate(-1deg);
    }
}

@keyframes pulse {
    0% {
        transform: scale(0.90);
        box-shadow: 0 0 0 0 rgba(75, 58, 41, 0.774);
    }

    70% {
        transform: scale(1);
        box-shadow: 0 0 0 10px rgba(255, 0, 0, 0);
    }

    100% {
        transform: scale(0.90);
        box-shadow: 0 0 0 0 rgba(255, 0, 0, 0);
    }
}

html ::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

html ::-webkit-scrollbar-track {
    background-color: black;
    border-radius: 100vw;
    margin-block: 2px;
    margin-left: 3px;
}

html ::-webkit-scrollbar-thumb {
    background-color: rgb(146, 146, 146);
    border-radius: 100vw;
}

/* MOBILE MODIFCATION */
@media only screen and (max-width: 600px) {
    .cart-main-div {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;


    }


}